
:root {
    --main-color: #F47B2C;
    --secondary-color: #eee;
}
*{
box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    background-color: var(--secondary-color);
}
.wrapper{
    width: 90%;
    max-width: 400px;
    margin: 40px auto 40px;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0, 0.3);
}
#form-content{
    text-align: center;
}
#form-content a{
    display: inline-block;
    text-decoration: none;
    margin: 2rem 1rem;
}
#form-content h2 {
    text-transform: uppercase;
}
#form-content h2.active {
    border-bottom: 2px solid(--main-color);
    color: rgba(0,0,0,1);
}
#form-content h2.inactive {
    color: rgba(0,0,0,0.5);
}
#avatar{
    width: 150px;
    margin-bottom: 3rem;
}
form{
    padding: 1rem;
}
form input{
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    width: 100%;
    margin-bottom: 0.5rem;
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    border-radius: 3px;
}
form input:focus{
    background-color: #fff;
    border: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--main-color);
}
form input[type="submit"]{
    background-color: var(--main-color);
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 1rem;
    box-shadow: 0 0 1rem var(--main-color);
    transition: all 1s ease-in;
}
form input[type="submit"]:hover{
    box-shadow: 0 0 2rem var(--main-color);
}
#form-footer{
    text-align: center;
    background-color: rgba(0,0,0, 0.1);
   border-bottom-left-radius: 1rem;
   border-bottom-right-radius: 1rem;
}
#form-footer a{
    color: var(--main-color);
}